/* Color Palette: https://colorhunt.co/palette/134245 */

.bg-dark {
    background-color: #182952 !important;
}

.bg-light {
    background-color: #7045af !important;
}

.btn-primary {
    background-color: #e14594 !important;
    border-color: #e14594 !important;
}

.bg-primary {
    background-color: #e14594 !important;
}

.bg-secondary {
    background-color: #2b3595 !important;
}

.jumbotron {
    background-image: url(../img/vitrine.jpg);
    background-size: cover;
    background-position: center;
    color: #FFF;
}

.social a {
    display: block;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
}

.social li {
    display: inline-block;
    margin-left: 1em;
}

.social a[href='http://facebook.com/betterimages'] {
    background: url(../img/icone-face.png);
    background-size: 36px 36px
}

.social a[href='http://twitter.com/betterimages'] {
    background: url(../img/icone-twitter.png);
    background-size: 36px 36px
}

.social a[href='http://instagram.com/betterimages'] {
    background: url(../img/icone-insta.png);
    background-size: 36px 36px
}